/* PALETA DE COLORES */
:root {
    --color-principal: #000000;     
    --color-secundario: #D32F2F;                                 
    --negro-transparente: #00000099;
    --color-blanco: #FFFFFF;   
    --color-gris-oscuro: #1c1c1c;
    --color-gris-texto: #aaaaaa;
}

/* RESET */
html {
  font-size: 62.5%;
  box-sizing: border-box;  
}
/* Padding y border */
*,*:before, *:after{
  box-sizing: inherit;
}

/* BODY */
body{
    /* Texto de la página */
    font-family: "Oswald", sans-serif;
    font-size: 2.5rem;
    margin: 0;

    /* Fondo de la página */
    background: var(--color-principal);

    /* Barra de navegación */
    padding-top:7rem;

    /* Centrar contenido */
    max-width:120rem;
    margin:0 auto;

    overflow-x: hidden;
}


/*BARRA DE NAVEGACIÓN*/
/* Barra fja */
.barra-nav{
    display:flex;
    align-items:center;
    justify-content:space-between;
    background:var(--color-principal);
    padding:1rem 4rem;

    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:1000;
    backdrop-filter: blur(10px);
}

/* Logo */
.barra-izq img{
    height:6rem;
}

/* Barra de categorias */
.barra-centro{
    display:flex;
    gap:4rem;
    list-style:none;
}

/* Categorias */
.categoria{
    position:relative;
    color:var(--color-blanco);
    cursor:pointer;
    font-size:1.4rem;
}

/* Subrayado */
.categoria::after{
    content:"";
    position:absolute;
    bottom:-0.5rem;
    width:100%;
    height:0.2rem;
    background:var(--color-blanco);
    display:none;
}

.categoria:hover::after{
    display:block;
}

/* Menú desplegable */
.desplegar{
    position:fixed;
    left:0;
    top:7rem;
    width:100vw;
    background:var(--color-gris-oscuro);

    opacity:0;
    visibility:hidden;
    transition:0.2s ease;
}

/* Hover */
.categoria:hover .desplegar{
    opacity:1;
    visibility:visible;
}

/* Categorias Menu Desplegable */
.desplegar-contenido{
    max-width:120rem;
    margin: auto;
    display:flex;
    justify-content:center;
    gap:6rem;
    padding:3rem;
}

/* Columnas */
.columna{
    display:flex;
    flex-direction:column;
    gap:1rem;
}

.columna h4{
    color:var(--color-blanco);
    font-size:1.4rem;
}

.columna a{
    color:var(--color-gris-texto);
    text-decoration:none;
    font-size:1.3rem;
}

.columna a:hover{
    color:var(--color-blanco);
}

/* Barra de busqueda e iconos */
.barra-der{
    display:flex;
    align-items:center;
    gap:1.5rem;
}

/* BUSCADOR */
.busqueda{
    position:relative;
}

.busqueda input{
    padding:0.8rem 1.5rem 0.8rem 3.5rem;
    border-radius:2rem;
    border:none;
    font-size:1.3rem;
}

/* Lupa */
.busqueda-icon{
    position:absolute;
    left:1rem;
    top:50%;
    transform:translateY(-50%);
    width:1.6rem;
    stroke:var(--color-form);
}
/* Iconos */
.icono{
    width:2.2rem;
    height:2.2rem;
    stroke:var(--color-blanco);
    fill:none;
    stroke-width:2;
    cursor:pointer;
    transition:0.2s;
}

.icono:hover{
    stroke:var(--color-secundario);
}

/* BARRA DE AVISOS */
.barra-avisos{
    background: var(--color-gris-oscuro);
    display:flex;
    justify-content:center;
    margin-bottom: 0;
}

/* Contenido de la barra */
.avisos-contenido{
    display:flex;
    align-items:center;
    gap:1rem;
    color: var(--color-blanco);
    font-size:2rem;
    font-weight: lighter;
}

/* Icono */
.avisos-icono{
    width:3rem;
    stroke: var(--color-blanco);
}

/* Strong */
.avisos-contenido strong{
    color: var(--color-secundario);
    font-weight:bold;
}

/* FONDO */
/* Imagen de fondo */
.fondo{
    background-image:url("FondoJordan.png");

    background-size: cover;
    height: 60rem;
    background-position: right;
    background-repeat: no-repeat;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 4rem;
}
.fondo h2{
    color: var(--color-blanco);
    font-size: 5rem;
    margin-right: 30rem;
    font-style: italic;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 0.9;
}
.fondo h3{
    color: var(--color-blanco);
    font-size: 2rem;
    margin-bottom:0;
    margin-top: 2rem;
    margin-right: 30rem;
    font-style: italic;
}
.fondo p{
    color: var(--color-blanco);
    font-size: 1.8rem;
    margin-bottom: 0;
    margin-right: 30rem;
    font-weight: lighter;
}

/* Boton */
.boton {
  background-color: var(--color-secundario);
  color: var(--color-blanco);
  padding: .7rem 1rem;
  margin-top: 5rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: .5rem;
  margin-right: 30rem;
}
.boton:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* PRODUCTOS */
.contenedor {
  max-width: 120rem;
  margin: 0 auto;
}

.productos{
    padding: 4rem 2rem;
}

/* HEADER */
.productos-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:2rem;
}

.productos-header h2{
    color: var(--color-blanco);
    font-size:2rem;
}

.productos-header a{
    color: var(--color-blanco);
    text-decoration:none;
    font-size:1.4rem;
}

/* Contenedor horizontal */
.productos-container{
    display:flex;
    gap:2rem;
    overflow-x:auto;
}


/* TARJETAS */
.prod{
    min-width:30rem;
    background: var(--color-gris-oscuro);
    border-radius:1rem;
    padding:1rem;
}

/* IMAGEN */
.prod img{
    width:100%;
    border-radius:0.5rem;
}

/* TEXTO */
/* Nombre del producto */
.prod h3{
    color: var(--color-blanco);
    font-size:2rem;
    margin:1rem 0 0.5rem;
    text-align: left;
}

/* Especificaciones de producto */
.prod p{
    color:var(--color-blanco);
    font-size:1.5rem;
    margin-bottom:1rem;
}

/* Precio del producto */
.prod span{
    color: var(--color-blanco);
    font-weight:bold;
}

/* Hover (Animación) */
.prod:hover{
    transform:translateY(-5px);
}

/* GENERO */
.genero{
    padding:4rem 2rem;
}

/* Titulo de la seccion genero */
.genero h2{
    color: var(--color-blanco);
    font-size:2rem;
    margin-bottom:2rem;
    text-align: left;
}

/* Distribución de la sección genero */
.genero-grid{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:2rem;
}

/* Cuadros género */
.genero-card{
    position:relative;
    overflow:hidden;
    cursor:pointer;
}

/* Imagenes de genero */
.genero-card img{
    width:100%;
    height:50rem;
    object-fit:cover;
    transition:0.4s;
}

/* Texto genero */
.genero-card p{
    color: var(--color-blanco);
    font-size:1.4rem;
    font-weight:bold;
    margin-top:1rem;
}

/* Efecto genero */
.genero-card:hover img{
    transform:scale(1.05);
}

/* Footer de contacto */
.contacto{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:4rem;
    background: var(--color-principal);
    margin-top: 10rem;
}

/* Columnas de contacto */
.contacto-columna{
    display:flex;
    flex-direction:column;
    gap:1.5rem;
}

/* Titulos de las columnas del footer */
.contacto-columna h3{
    color: var(--color-blanco);
    font-size:1.8rem;
    text-align: center;
}

/* Seccion de ayuda */
.contacto-columna a{
    color:var(--color-gris-texto);
    text-decoration:none;
    font-size:1.4rem;
    text-align: center;
}

.contacto-columna a:hover{
    color: var(--color-blanco);
}

/* Formulario */
.form-columna input{
    width:100%;
    padding:.5rem;
    border:none;
    border-radius:0.5rem;
    background:var(--color-gris-oscuro);
    color:var(--color-blanco);
    justify-content: left;
    margin-bottom: 1.5rem;
    font-size: 2rem;
}

.form-columna textarea{
    width:100%;
    padding:.5rem;
    border:none;
    border-radius:0.5rem;
    background:var(--color-gris-oscuro);
    color:var(--color-blanco);
    justify-content: left;
    height:10rem;
    resize:none;
    font-size: 2rem;
}

/* Boton de enviar */
.form-columna button{
    background: var(--color-secundario);
    color:var(--color-blanco);
    font-size: 1.5rem;
    border:none;
    padding:.5rem 1rem;
    border-radius:0.5rem;
    cursor:pointer;
    margin-top: 1rem;
}

/* Seccion contactanos */
.social-pro{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:2rem;
    text-align:center;
}

/* Redes sociales */
.social-icons{
    display:flex;
    justify-content:center;
    gap:1.5rem;
}

/* Botones */
.social-icons a{
    width:4.5rem;
    height:4.5rem;
    border:1px solid var(--color-gris-texto);
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
}

/* Iconos de las redes */
.social-icons svg{
    width:2rem;
    height:2rem;
    fill: var(--color-blanco);
}

/* Animacion de los iconos de las redes */
.social-icons a:hover{
    background-color: var(--color-secundario);
    border-color: var(--color-secundario);
}

/* Correo */
.correo{
    color:#aaa;
    font-size:2rem;
    text-decoration:none;
    margin-top:1rem;
    text-align: center;
}

.correo:hover{
    color: var(--color-blanco);
}

.social-pro h3{
    color: var(--color-blanco);
    font-size:1.6rem;
}

/* Footer de derechos */
.footer{
  color: var(--color-gris-texto);
  text-align: center;
  margin-top: 5rem;
  font-size: 1.4rem;
}

/* Boton de whatsapp flotante */
.whatsapp{
    position:fixed;
    bottom:2rem;
    right:2rem;
    width:6rem;
    height:6rem;
    background:linear-gradient(135deg, #25D366, #1ebe5d);
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;

    box-shadow:
        0 0.5rem 1.5rem rgba(0,0,0,0.4),
        0 0 1rem rgba(37, 211, 102, 0.6);
    z-index:1000;

    transition:all 0.3s ease;
}

/* Icomo de whatsapp */
.whatsapp svg{
    width:3rem;
    height:3rem;
    fill:var(--color-blanco);
}

/* Animación whatsapp */
.whatsapp:hover{
    transform:scale(1.1);
    box-shadow:
        0 0.8rem 2rem rgba(0,0,0,0.5),
        0 0 2rem rgba(37, 211, 102, 0.9);
}

@keyframes pulse {
    0% { box-shadow: 0 0 0 0 rgba(37,211,102,0.6); }
    70% { box-shadow: 0 0 0 1.5rem rgba(37,211,102,0); }
    100% { box-shadow: 0 0 0 0 rgba(37,211,102,0); }
}

.whatsapp{
    animation: pulse 2s infinite;
}


/* TELEFONO CELULAR Y TABLET */
@media (max-width:768px){

    /*  Oculta menú completo */
    .barra-centro{
        display:none;
    }

    /* Barra de navegacion */
    .barra-nav{
        display:grid;
        grid-template-columns:auto auto 1fr auto;
        align-items:center;
        padding:0.8rem 1.5rem;
        gap:0.5rem;
    }

    /* Logo */
    .barra-izq img{
        height:5rem;
    }

    /* Boton de barra para celular */
    .menu-icon{
        display:block;
        font-size:2.5rem;
        color:var(--color-blanco);
        cursor:pointer;
    }
    #menu-toggle{
        display:none;
    }
    #menu-toggle:checked + .menu-icon{
        font-size:2rem;
    }

    /* Iconos de la barra */
    .barra-der{
        display:flex;
        align-items:center;
        gap:0.8rem;
        justify-content: flex-end;
    }
    .icono{
        width:2rem;
        height:2rem;
    }

    /* Ocultar barra de busqueda */
    .busqueda{
        display:none;
    }

    /* Barra de categorias */
    .menu-full{
        position:fixed;
        top:7rem;
        left:0;
        width:100%;
        height:100vh;
        background:var(--color-principal);

        display:flex;
        justify-content:center;
        align-items:center;

        transform:translateY(-150%);
        transition:0.3s ease;
        z-index:999;
    }

    /* Activar barra para celular */
    #menu-toggle:checked ~ .menu-full{
        transform:translateY(0);
    }

    /* Barra para celular */
    .menu-movil{
        display:flex;
        flex-direction:column;
        gap:2rem;
        align-items:center;
    }
    .menu-movil .categoria{
        font-size:2rem;
        color:var(--color-blanco);
        text-decoration:none;
    }

    /* Desplegar columnas en celular */
    .submenu{
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background:var(--color-principal);
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        opacity:0;
        pointer-events:none;
        transition:0.3s ease;
    }

    /* Activar columnas */
    .submenu:target{
        opacity:1;
        pointer-events:auto;
    }

    /* Ocultar columnas */
    .submenu:target ~ .menu-movil{
        display:none;
    }

    /* Flecha de volver */
    .volver{
        position:absolute;
        top:2rem;
        left:2rem;
        font-size:2.5rem;
        color:var(--color-blanco);
        text-decoration:none;
    }

    /* Columnas */
    .desplegar-contenido{
        display:flex;
        flex-direction:column;
        gap:2rem;
        align-items:center;
        text-align:center;
    }
    .columna h4{
        font-size:1.6rem;
        color:var(--color-blanco);
        margin-bottom:1rem;
    }
    .columna a{
        display:block;
        font-size:1.4rem;
        color:var(--color-gris-texto);
        text-decoration:none;
        margin:0.3rem 0;
    }
    .columna a:hover{
        color:var(--color-blanco);
    }
    
    /* FONDO */
    .fondo{
        position:relative;
        height:40vh;
        padding: 0;
        margin: 0;
        background-size:contain; 
        background-position:center;
        background-repeat:no-repeat;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;  
        text-align:center;    
    }
    .fondo h2{
        font-size: 2.7rem;
        margin: 0.5rem 0;
        margin-bottom: 1rem;
        margin-right: 10rem;
    }
    .fondo h3{
        font-size: 1.5rem;
        margin:0.5rem 0;
        margin-bottom: 1rem;
        margin-right: 10rem;
    }
    .fondo p{
        white-space:nowrap;
        margin:0.5rem 0;
        font-size: 1.2rem;
        margin-bottom: 1rem;
        margin-right: 10rem;
    }
    .boton{
        font-size: 1.2rem;
        display:inline-block;
        margin:1rem auto 0 auto;
        text-align:center;
        padding: 0.5rem 0.5rem;
        margin-right: 10rem;
    }

    /* PRODUCTOS */
    .productos{
        padding:2rem 2rem;
    }
    .productos-header h2{
        font-size:1.6rem;
    }
    .productos-container{
        gap:1rem;
    }
    .prod{
        min-width:22rem;
        padding:0.8rem;
    }
    .prod h3{
        font-size:1.6rem;
    }
    .prod p{
        font-size:1.3rem;
    }

    /* GENERO */
    .genero{
        padding:1rem 3rem; 
    }
    .genero h2{
        font-size:1.6rem;
    }

    /* Distribucion de generos */
    .genero-grid{
        display:grid;
        grid-template-columns:repeat(3, 1fr);
        gap:0.8rem;
    }

    /* Imagenes */
    .genero-card img{
        height:auto;        
        aspect-ratio:1/1;   
        width:100%;
        object-fit:cover;
        object-position: top center;
    }
    .genero-card p{
        margin-top:0.5rem;
        font-size:1.2rem;
        text-align:center;
    }

    /* FOOTER DE CONTACTO */
    .contacto{
        display:grid;
        grid-template-columns:1fr 1fr;
        gap:2rem;
        padding:2rem 3rem;
        margin-top: 0;
    }

    /* Columna del formulario */
    .form-columna{
        grid-column:1 / 2;
    }

    /* Columna de atencion al cliente */
    .contacto-columna:nth-child(2){
        grid-column:2 / 3;
    }

    /* Redes sociales */
    .social-pro{
        grid-column:1 / -1;

        display:flex;
        flex-direction:column;
        align-items:center;   
        justify-content:center;          
    }

    /* Iconos */
    .social-icons{
        display:flex;
        justify-content:center;
        gap:1.5rem;
    }
    .social-pro h3,
    .correo{
        text-align:center;
        width:100%;
    }
}

/*  LAPTOP */
@media (min-width:768px){

    /* Ocultar la barra de celular */
    .menu-full{
        display:none !important;
    }
    .submenu{
        display:none !important;
    }
    #menu-toggle{
        display:none;
    }
    .menu-icon{
        display:none;
    }

    /* Mostrar barra de laptop */
    .barra-centro{
        display:flex;
        gap:4rem;
    }

    /* mostrar barra de busqueda */
    .busqueda{
        display:block;
    }

    /* Barra de navegacion normal */
    .barra-nav{
        display:flex;
        justify-content:space-between;
        align-items:center;
        padding:1rem 4rem;
    }

    /* Logo*/
    .barra-izq img{
        height:6rem;
    }

    /* Iconos */
    .barra-der{
        display:flex;
        align-items:center;
        gap:1.5rem;
    }
    .icono{
        width:2.2rem;
        height:2.2rem;
    }

    /* Barra de avisos */
    .barra-avisos{
    margin-top:1.5rem;
    width:100vw;
    margin-left:calc(50% - 50vw);
    }
    
    /* Fondo */
    .fondo{
        width:100vw;
        margin-left:calc(50% - 50vw);
    }
    .fondo h2{
        font-size: 8rem;
    }
    .fondo h3{
        font-size: 4rem;
        margin-bottom: 1rem;
    }
    .fondo p{
        font-size: 3rem;
        margin-bottom: 5rem;
    }
    .boton{
        font-size: 3rem;
    }
}
